*{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*---barre de navigation---*/

#logo{
    font-size: 5px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#icon{
	width: 55px;
	height: 47px;
	background-color:whitesmoke ;
	border-radius: 50%;
}

#collapsibleNavId ul li a{
	color: whitesmoke;
	font-size: 18px;
}

#collapsibleNavId ul li a:hover{
	color:  rgb(157, 207, 243);
	background-color: whitesmoke;
	border-radius: 30px;
	border: none;
	padding: 7px;
}
/*---barre de navigation---*/

#accueil{
	background: url('assets/iccs.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 850px;
}

#information{
	margin-top: 5%;
}



.box img{
	width: 100%;
    border: none;
}

.box h3{
	font-size: 25px;
	color: rgb(57, 97, 135);
	font-weight: bold;
}

.box h1{
	font-size: 30px;
	color: rgb(36, 70, 102);
	font-weight: bold;
	border-bottom: 3px solid rgb(36, 70, 102);
	width: 70px;
	border-radius: 10px;
}

.box1 h3{
	font-size: 17px;
	color: rgb(57, 97, 135);
	font-weight: bold;
}

section h2{
	font-size: 25px;
	color: rgb(57, 97, 135);
	font-weight: bold;
}
.box1{
	height: 60%;
}

.box1 img{
	width: 100%;
	height: 90%;
}

#galerie h1{
	font-size: 25px;
	color: rgb(57, 97, 135);
	font-weight: bold;
	border-bottom: 3px solid rgb(57, 97, 135);
	width: 100px;
	border-radius: 10px;
}

.fondateur{
	border-bottom: 3px solid rgb(57, 97, 135);
	border-radius: 10px;
	width: 143px;
}

#galerie #carouselExampleIndicators .carousel-inner .carousel-item {
	height: 500px;
	width: 100%;
}

#galerie #carouselExampleIndicators .carousel-inner .carousel-item .img{
	width: 100%;
	height: 100%;
	border: none;
}
#carouselExampleIndicators{
	width: 100%;
	height: 100%;
}

#carouselExampleIndicators .carousel-control-next{
	width: 10%;
	height: 100%;
	background: rgb(57, 97, 135);
}

#carouselExampleIndicators .carousel-control-prev{
	width: 10%;
	height: 100%;
	background: rgb(57, 97, 135);
}


footer h5{
	font-size: 20px;
	color: rgb(57, 97, 135);
	font-weight: bold;
	text-align: center;
}

footer h4{
	font-size: 20px;
	color: rgb(57, 97, 135);
	font-weight: bold;	
}

.boxform{
	width: 100%;
	padding: 20px;
	background-color:#ccc;
	box-shadow: 3px 3px 5px #ccc,-3px -3px 5px #ccc;
	border: none;	
}

#form{
	width: 100%;
	justify-content: center;
	display: grid;
	grid-template-columns: 2fr;
	
}
#form h1{
	margin-top: 10px;
	width: 100%;
	border-bottom: none;
	color:rgb(57, 97, 135);
}

#form label{
  font-size: 17px;
  color:rgb(57, 97, 135);
  font-weight: bolder;
  padding-left: 25px;
}

#form input{
	margin: auto;
	width: 95%;
	border-radius: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	outline: none;
	border: 1px solid #ccc;
}

#form button{
	margin: auto;
	margin-top: 10px;
	width: 95%;
	border-radius: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	font-size: 17px;
	font-weight: bold;
	background: rgb(57, 97, 135);
    color: whitesmoke;
	border: none;
}

#form button:hover{
	background:blue;
    color: rgb(59, 97, 135);
}

#form a{
	font-size: 15px;
	text-decoration: none;
	font-weight: bold;
	padding-bottom: 10px;
}

#connexion{
	/* background: url('assets/iccs.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100vh; */
}

#connexion .boxform {
	margin-top: 150px;
}







@media screen and (max-width:480){
	#carouselExampleIndicators{
		height: 100%;
	}
	
#carouselExampleIndicators .carousel-control-next{
	width: 5%;
	height: 50%;
	
}

#carouselExampleIndicators .carousel-control-prev{
	width: 5%;
	height: 50%;
	
}
}